matplotlib==3.3.2    	 # aus for_loop
json==2.0.9          	 # aus json 
requests=2.22.0      	 # aus Web_APIs
requests_oauthlib==1.3.0 # aus Web_APIs
matplotlib==3.1.1		 # aus economics
statistics==1.0.3.5		 # aus economics
mock					 # aus for_loop
math					 # aus libraries
turtle					 # aus libraries
random 					 # aus while und functions

#Zur Kontrolle:
#from unittest import mock (aus for_loop)
#import random (aus while, functions)
#import math, from turtle import  (aus libraries)
#import json import pprint (aus json)
#import requests, from requests_oauthlib import OAuth1 (aus web_apis)
#import matplotlib.pyplot (aus economics)
#import statistics (aus economics)