matplotlib    	 # aus for_loop
# json         	 # aus json 
requests      	 # aus Web_APIs
requests_oauthlib # aus Web_APIs
statistics		 # aus economics
mock					 # aus for_loop
# math					 # aus libraries
turtle					 # aus libraries
random 					 # aus while und functions

#Zur Kontrolle:
#from unittest import mock (aus for_loop)
#import random (aus while, functions)
#import math, from turtle import  (aus libraries)
#import json import pprint (aus json)
#import requests, from requests_oauthlib import OAuth1 (aus web_apis)
#import matplotlib.pyplot (aus economics)
#import statistics (aus economics)
